<section class="bg-dark" id="about">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Multi Agent System</h2>
                <hr class="light">
                <p class="text-faded text-justify">A project between three teams. My teammate and I were tasked with the coding intelligent lights. We communicated agents through a BDI system. At the end we completed the project coordinating cars, the lights and the environment.</p>
                <!-- <a href="https://github.com/JosueCastaneda/traficoMultiagente" class="btn btn-default btn-xl">Source Code</a> -->                
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Main Page</h2>
                <hr class="light">
                <a href="index.html" class="btn btn-default btn-xl">Back</a>                
            </div>
        </div>     
    </div>
</section>
