<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Azcatl</h2>
                <hr class="light">
                <p class="text-faded">I hold a Master's Degree in Computer Science from the Instituto Nacional de Astrofísica, Óptica y Electrónica (INAOE) which is a Mexican research institute. 
                    My master thesis was supervised by the doctors: Saúl Pomares Hernandez, Jesus A. Gonzalez and José Roberto Pérez Cruz. 
                    I am interested on distributed systems, formal methods and sensor networks. 
                    My thesis on bio-inspired data foraging relates the abstract notion of indirect communication with the spatial and 
                    temporal causality of events in order to identify regions of interest in an unknown and dynamic environment.</p>
                <a href="index.html" class="btn btn-default btn-xl">Back</a>
            </div>
        </div>
    </div>
</section>
