<section class="bg-dark" id="about">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center ">

                <h2 class="section-heading">Description</h2>
                <hr class="light">
                <p class="text-justify"> Sparse Wireless Sensor Networks (SWSN) have been proposed to explore and gather data from harsh environments. Exploration has been focused on finding optimal paths to obtain knowl- edge about the environment while data gathering has mainly been oriented to obtain raw data indiscriminately of the environment. However, dynamic environments were the usefulness of data is constantly changing, these solutions are not useful. Therefore, for these types of environments, both exploration and data gathering must be focused on repeatedly searching for valuable data sources over a particular area; as some animals perform foraging. Data foraging is a continuous process which involves: exploration, identification and selective exploitation (harvesting) of profitable data sources. For example, a drone looking for potential flood regions must explore an entire area, identify and gather data from those valuble regions</p>
                
                <img src="img/portfolio/azcatl/dronSolo.png" class="img-responsive" alt="">    
                <p class="text-justify"><br></p>                  
            </div>                
        </div>
        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Proposal</h2>
                <hr class="light">
                <p class="text-justify">We propose a bio-inspired data foraging mechanism for SWSN in dynamic environments. To develop our mechanism, indirect communication is modeled taking inspiration from the stigmergy principe. We establish artificial pheromones based on the fuzzy causal rela- tion. Each step of data foraging is formally defined and mathematically evaluated.</p>

                <img src="img/portfolio/azcatl/modeladoHextill.png" class="img-responsive" alt="">
                <p class="text-justify"><br></p>                  
            </div>

        </div>

        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Main Page</h2>
                <hr class="light">
                <a href="index.html" class="btn btn-default btn-xl">Back</a>                
            </div>
        </div>        
    </div>
</section>
