<section class="bg-dark" id="about">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Mining</h2>
                <hr class="light">
                <p class="text-justify">In this project we propose an isomorphism free test to extract subgraphs of a given graph. We use an extension based mechanism to obtain subgraphs of size (i+1) from subgraphs of size (i). We apply our method to a small database of graphs and evaluate the running time and number of subgraphs generated in the database. Our analysis gives evidence of the overall performance of our method and we also calculate an upper bound of execution time of the proposed method.</p>
                <!-- <a href="https://github.com/JosueCastaneda/machineLearning_II" class="btn btn-default btn-xl">Source Code</a> -->
                <!-- <a href="index.html" class="btn btn-default btn-xl">Back</a> -->
            </div>
        </div>

        <div class="row row-grid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Main Page</h2>
                <hr class="light">
                <a href="index.html" class="btn btn-default btn-xl">Back</a>                
            </div>
        </div>

    </div>
</section>
