<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Josué Castañeda</h1>
            <hr>
            <p>Student @ INAOE </p>
            <a href="https://mx.linkedin.com/in/josué-castañeda-982264124" class="btn btn-primary btn-xl page-scroll">Linkedin</a>
			<a href="https://github.com/JosueCastaneda" class="btn btn-primary btn-xl page-scroll">GitHub</a>
			<a href="https://plus.google.com/u/0/101980490306015183797" class="btn btn-primary btn-xl page-scroll">Google+</a>
        </div>
    </div>
</header>
