<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Information Retrieval</h2>
                <hr class="light">
                <p class="text-faded">I am a student at INAOE which is a Mexican research institute. Currently I am working on my master thesis under the supervision of doctors: Saúl Pomares Hernandez, Jesus A. Gonzalez and José Roberto Pérez Cruz. I am interested on distributed systems, formal methods and sensor networks. My thesis on bio-inspired data foraging relates the abstract notion of indirect communication with the spatial and temporal causality of events in order to identify regions of interest in an unknown and dynamic environment.</p>
                <a href="index.html" class="btn btn-default btn-xl">Back</a>
            </div>
        </div>
    </div>
</section>
