<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Distributed Machine Learning</h2>
                <hr class="light">
                <p class="text-faded">
                  In this proyect severeal techniques of machine learning are applied, mainly deep learning with the
                  aid of Tensorflow. As part of an ongoing proyect, a distributed approach is being developed to aid
                  with training. Core ML is also being explored as a solution for mobile applications.
                </p>
                <a href="" class="btn btn-default btn-xl">Not Available at the moment</a>
                <a href="index.html" class="btn btn-default btn-xl">Back</a>
            </div>
        </div>
    </div>
</section>
