<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="azcatl.html" class="portfolio-box">
                    <img src="img/portfolio/hormigasColonia.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research
                            </div>
                            <div class="project-name">
                                Azcatl
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="informationRetrieval.html" class="portfolio-box">
                    <img src="img/portfolio/texto.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Course Project
                            </div>
                            <div class="project-name">
                                Information Retrieval
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="multiagente.html" class="portfolio-box">
                    <img src="img/portfolio/mapaTijuana.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
								Course Project
                            </div>
                            <div class="project-name">
                                Multi-agent System Traffic 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="grafos" class="portfolio-box">
                    <img src="img/portfolio/grafos.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Course Project
                            </div>
                            <div class="project-name">
                                Data Mining
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="machineLearning.html" class="portfolio-box">
                    <img src="img/portfolio/tensorFlow.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Under Development
                            </div>
                            <div class="project-name">
                                Distributed Machine Learning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/blanco.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Under Construction
                            </div>
                            <div class="project-name">
                                Shared Messages
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
