<!-- <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Research Oriented</h3>
                    <p class="text-muted">My experience with my dissertation has given me research skills.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Team player</h3>
                    <p class="text-muted">I know that everyone is essential to the sucess of a project!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Task manager</h3>
                    <p class="text-muted">I always say to myself, Organization is the key to sucess.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-binoculars wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Visionary</h3>
                    <p class="text-muted">Envision new solutions to new or existing problems.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
